.about {
  display: inline-flex;
  padding-left: 50px;
}

.about_image {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.about_image .img_1 img {
  width: 100%;
}

.about_image .img_2 {
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
  right: -30px;
  bottom: -60px;
  left: auto;
  top: auto;
}

.about_text {
  padding: 30px;
  width: fit-content;
  padding-left: 100px;
  padding-right: 100px;
}

.about_text h2 {
  font-size: 50px;
  margin: 0;
}

.about_text h3 {
  font-size: 75px;
  margin: 0;
}

.about_text p {
  font-size: 20px;
}

.workers {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: whitesmoke;
  margin-top: 30px;
  padding-bottom: 30px;
}

.workers h1 {
  font-size: 75px;
  margin: 0;
  margin-top: 20px;
}

.team {
  display: flex;
  justify-content: center;
}

.our-team {
  text-align: center;
  position: relative;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}
.our-team img {
  width: 350px;
  height: 528px;
}
.our-team .content {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 70%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 45%;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.our-team:hover .content,
.our-team.active .content {
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
}
.our-team .content .title {
  margin: 0 0 10px;
  display: block;
  font-size: 25px;
  font-weight: 600;
}
.our-team .content .post {
  margin: 0 0 25px;
  display: block;
  font-size: 15px;
}
.our-team .social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  display: block;
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 0;
  background-color: black;
  margin-right: 5px;
  transition: all 0.5s ease 0s;
  position: relative;
}
.our-team .social li a:hover,
.our-team.active .social li a {
  border-radius: 50%;
  text-decoration: none;
}
@media screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}
